<h3>Queue</h3>
<span class="clickable text-primary" (click)="isHidden = !isHidden">Toggle Description</span>
<p class="mt-3" [ngbCollapse]="isHidden">This data structure stores nodes in FIFO (first in, first out) order. You
  can only view and dequeue the first item you pushed to the queue (this resets to the second item you pushed to the
  queue after it's removed, and so on.). All actions use constant time, however since we've used a singly linked
  list
  to implement this queue, the insert and remove actions require new allocation of memory. You can also use an array to
  implement this data structure which may have better overall performance. You can use a simple algorthim to double the
  size of the array once the amount of items in the queue take up the full size of the current array. Then when items
  are being dequeued, you can remove a quarter of space once the array is storing half of it's capacity. This uses
  constant amortized time, which means that overall it will take constant time with a few actions taking linear time to
  do the reallocation of memory.</p>

<div class="d-flex flex-column w-100 mt-4">
  <div class="d-flex justify-content-center">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-danger badge-pill mx-4">null</span>
        <svg class="bi bi-arrow-right-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L10.793 8 8.146 5.354a.5.5 0 010-.708z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M4 8a.5.5 0 01.5-.5H11a.5.5 0 010 1H4.5A.5.5 0 014 8z" clip-rule="evenodd" />
        </svg>
      </li>
      <li *ngFor="let node of nodes().reverse(); let i = index;"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{ node.data }}
        <span *ngIf="i === nodes().length - 1" class="badge badge-primary badge-pill mx-4">front</span>
        <svg *ngIf="i !== nodes().length - 1" class="bi bi-arrow-right-short" width="2em" height="2em"
          viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L10.793 8 8.146 5.354a.5.5 0 010-.708z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M4 8a.5.5 0 01.5-.5H11a.5.5 0 010 1H4.5A.5.5 0 014 8z" clip-rule="evenodd" />
        </svg>
      </li>
    </ul>
  </div>

  <form [formGroup]="queueFormGroup" class="mt-4">
    <ngb-alert *ngIf="errorMessage && errorMessage.length" type="danger" [dismissible]="false">
      {{ errorMessage }}
    </ngb-alert>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputData">Data</label>
        <input formControlName="data" type="text" class="form-control" id="inputData">
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column align-items-center">
        <button (click)="peek()" class="btn btn-success">Peek</button>
        <p class="m-0">O(1)</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <button (click)="enqueue()" class="btn btn-primary">Enqueue</button>
        <p class="m-0">O(1)</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <button (click)="dequeue()" class="btn btn-danger">Dequeue</button>
        <p class="m-0">O(1)</p>
      </div>
    </div>
    <app-logger type="queue"></app-logger>
  </form>
</div>
