<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" [routerLink]="'.'">Algo</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/data-structures']"
            (click)="isMenuCollapsed = true"
            >Data Structures</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">
    <router-outlet></router-outlet>
  </main>
</div>
